.cart {
	color: white;
	background-color: #31b572;
	padding: 32px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 200px;
    height: 100%;
}

.cart-button {
	background-color: #FFF;
    width: fit-content;
	border: none;
	font-weight: 600;
	cursor: pointer;
	padding: 0.5em 2em;
	color: #31b572;
    border-radius: 2px;
    border: 2px solid;
}

.cart-open-button {
    width: fit-content;
	border: none;
	font-weight: 600;
	cursor: pointer;
	padding: 0.5em 2em;
	color: #000;
    border: 2px black solid;
    border-radius: 5px;
    background: none;
}

.cart-closed {
	padding: 32px;
	width: 200px;
}

.cart-closed > button {
	color: black;
}

.plants-in-cart-container {
	row-gap: 1em;
	display: grid;
	grid-template-columns: 1fr;
}

.plant-in-cart {
    background: none;
    border: #FFF 2px solid;
    padding: 1em;
    border-radius: 10px;
	column-gap: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.price-quantity {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: end;
}

.total-text {
    text-align: end;
}