.plant-item {
	border: solid 2px black;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	position: relative;
    overflow: hidden;
    padding-bottom: 10px;
    text-align: center;
}

.plant-item-cover {
	height: 220px;
	width: 220px;
    border-bottom: solid 1px black;
}

.add-button {
	background-color: #31b572;
	border: none;
	color: white;
	padding: 10px;
	width: 100%;
	margin-top: 10px;
	cursor: pointer;
	transition: 0.2s;
}

.add-button:hover {
	background-color: rgba(49, 181, 115, 0.9);
}

.price-text {
	position: absolute;
	top: 0;
	left: 0;
    font-weight: 500;
	background-color: rgba(49, 181, 114, 0.8);	border: none;
	color: white;
	padding: 5px 10px;
	border-radius: 0 0 4px 0 ;
}