.shopping-list {
	display: flex;
    flex-direction: column;
}

.category-list, .plant-list {
    list-style-type: none;
	column-gap: 2em;
	row-gap: 2em;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
    flex-direction: row;
	padding: 0 2em;
}

.categorie-item {
	border: solid 2px black;
	border-radius: 10px;
	padding: 5em 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
    overflow: hidden;
}

.soldes-text {
    position: absolute;
	right: 0;
	top: 0;
	font-weight: 500;
	color: white;
	padding: 5px 10px;
	background-color: rgba(255, 42, 0, 0.8);
    border-radius: 0 0 0 4px;
}