.title {
    color: black;
    text-align: right;
    padding-left: 32px;
}

.banner {
    border-bottom: solid 3px black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    padding: 32px;
    position: relative;
    overflow: hidden;
}

.banner > * {
    z-index: 1;
}

.background {
    background-image: url(/src/assets/img/banniere.jpg);
    opacity: 0.3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
    filter: blur(3px);
    transform: translateY(25px) rotate(1deg);
    background-position: bottom;
}

.logo{
    width: 45px;
    height: 45px;
}